@media screen and (min-width: 1441px) {
  .hero_section {
    background-size: cover;
  }
}

/* Desktop */
@media screen and (max-width: 1350px) {
  .container {
    width: 960px;
  }
}

/* Tablet */
@media screen and (max-width: 1023px) {
  .container {
    width: 700px;
  }

  .header_right {
    display: none;
  }

  .header_burger {
    display: block;
  }

  /* .hero_section {
    height: 900px;
  } */
}